<mat-form-field>
  <mat-label>MTX  select</mat-label>

  <mtx-select [items]="foods" bindLabel="name" bindValue="id" [multiple]="multiple" [(ngModel)]="food"
    [required]="required" [disabled]="disabled">
  </mtx-select>

  <mat-hint>Choose your favorite food</mat-hint>
  <mat-error>Please choose a food</mat-error>
</mat-form-field>


<br>
<br>
<br>
<br>

<mat-form-field>
  <mat-label>Original select</mat-label>
  <mat-select>
    <mat-option>test a</mat-option>
    <mat-option>test b</mat-option>
    <mat-option>test c</mat-option>
  </mat-select>
</mat-form-field>